<table class="table table-striped">

	<thead>
		<tr class="row">
			<th class="col-md-2">Selected</th>
			<th class="col-md-2">Player Name</th>
			<th class="col-md-2"><a href="#/"
				ng-click="$parent.setSortType('data.nowCost', $parent.sortDirectionIsAscending)">
					Cost (M) <i class="glyphicon"
					ng-show="sortType == 'data.nowCost' && $parent.sortDirectionIsAscending"
					ng-class="'glyphicon-chevron-up'"></i> <i class="glyphicon"
					ng-show="sortType == 'data.nowCost' && !$parent.sortDirectionIsAscending"
					ng-class="'glyphicon-chevron-down'"></i>
			</a></th>
			<th class="col-md-2"><a href="#/"
				ng-click="$parent.setSortType('getPointsPerGame()', $parent.sortDirectionIsAscending)">
					PPG <i class="glyphicon"
					ng-show="sortType == 'getPointsPerGame()' && $parent.sortDirectionIsAscending"
					ng-class="'glyphicon-chevron-up'"></i> <i class="glyphicon"
					ng-show="sortType == 'getPointsPerGame()' && !$parent.sortDirectionIsAscending"
					ng-class="'glyphicon-chevron-down'"></i>
			</a></th>
			<th class="col-md-2"><a href="#/"
				ng-click="$parent.setSortType('getPointsPerGamePerMillion()', $parent.sortDirectionIsAscending)">
					PPMPG <i class="glyphicon"
					ng-show="sortType == 'getPointsPerGamePerMillion()' && $parent.sortDirectionIsAscending"
					ng-class="'glyphicon-chevron-up'"></i> <i class="glyphicon"
					ng-show="sortType == 'getPointsPerGamePerMillion()' && !$parent.sortDirectionIsAscending"
					ng-class="'glyphicon-chevron-down'"></i>
			</a></th>
			<th class="col-md-2">Team Name</th>
			<th class="col-md-1 text-center" ng-repeat="gameweek in gameweekss | limitTo: 3 : configuration.getNextGameweek() -1">{{ gameweek.getGameweek() }}</th>
		</tr>
	<thead>
	<tbody>
		<tr class="row"
			ng-repeat="player in players | orderBy:sortType:$parent.sortDirectionIsAscending | filter:{positionFullName : typeName}" ng-class="player.getFitnessCommentary() != '' && player.getChanceOfPlaying() == 75 ? 'warning' : player.getFitnessCommentary() != '' && player.getChanceOfPlaying() < 75 ? 'danger' : ''">
			<td class="col-md-2">
				<button class="btn btn-default" ng-click="toggleSelected(player)">Toggle</button>
			</td>
			<td class="col-md-2" ng-attr-id="{{ 'playerName' + player.getId() }}" ><abbr ng-attr-title="{{ player.getFitnessCommentary() != '' && player.getFitnessCommentary() || undefined }}">{{ player.getName() }}</abbr></td>
			<td class="col-md-2" ng-class="player.getLikelihoodOfPriceChange() > 94 ? 'info' :  player.getLikelihoodOfPriceChange() < -94 ? 'danger' : ''"><abbr ng-attr-title="{{ player.getLikelihoodOfPriceChange() > 94 && player.getLikelihoodOfPriceChange() || player.getLikelihoodOfPriceChange() < -94 && player.getLikelihoodOfPriceChange() || undefined }}">{{ player.getNowCost() }}</abbr></td>
			<td class="col-md-2">{{ player.getPointsPerGame() }}</td>
			<td class="col-md-2">{{ player.getPointsPerGamePerMillion() }}</td>
			<td class="col-md-2">{{ player.getTeamName() }}</td>
			<td class="col-md-1" ng-repeat="gameweek in gameweekss | limitTo: 3 : configuration.getNextGameweek() -1">
				<table class="table" style="margin-bottom: 0px">
					<th ng-repeat="fixture in player.getFixtures()" ng-if="gameweek.getGameweek() == fixture.gameweek" class="col-md-1 text-center" ng-class="{success: fixture.difficulty < 3, danger: fixture.difficulty > 3}">
						<small ng-if="fixture.home"> <strong>{{fixture.oponentShortName}}</strong></small>
						<small ng-if="!fixture.home">{{fixture.oponentShortName}}</small>
					</th>
				</table>
			</td>
		</tr>
	</tbody>
</table>